.dialogMessages {
    background: #ffff;
    border-radius: 5px;
    width: 440px;
    padding: 15px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
   min-height: 500px;
    max-height: 600px;
    overflow-y: scroll;

}

.messageUser {
    background: #bfc9d0;
    border-radius: 5px;
    color: #1f1d1d;
    display: block;
    float: right;
    padding: 12px 15px;
    margin: 10px 10px 0px 0px;
    max-width: 300px;
}

.messageRecipient {
    background: rgb(229, 229, 229);
    border-radius: 5px;
    color: rgb(35, 35, 35);
    float: left;
    display: block;
    padding: 12px 15px;
    margin: 10px 0px 0px 10px;
    max-width: 300px;
}
