.DataRecipient {
    background: #ffff;
    width: 480px;
    height: 65px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.DataRecipient img {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 30px;
}