.stylePost {
    max-width: 650px;
    font-size: 16px;
    color: #363636;
}
.stylePost h3{
    color: black;
}

.postText{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postscript {
    font-size: 14px;
    color: #989b9f;
    display: flex;
    justify-content: space-between;
}

.photosStyle {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.photosStyle img{
border-radius: 5px;
max-width: 50%;
height: auto;
object-fit: cover;
margin: 10px 5px 5px 0;
}