.navlist {
    grid-area: navlist;
  }
  
  .navlist div {
    padding: 5px 15px;
  }

  .navlist div:hover {
    background-color:  rgb(171, 171, 171);
  }
  
  .linestyle{
        font-family: 'Manrope';
        font-size: 15px;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
        line-height: 1.5;
        margin-bottom: 5px;
    }

    .linestyle:hover{
        text-decoration: underline;
    }