.navlist {
    grid-area: n;
  }

.designBar {
  float: right;
  top: 30px;
  padding: 15px;
  min-width: 265px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.avatar img{
  position: relative;
  max-width: 140px;
  top: -110px;
  left: 22%;
  border-radius: 5px;
  z-index: 2;
  margin-bottom: -100px;
  cursor: pointer;
}

.avatar img:hover {
  box-shadow: 1px 1px 5px 2px #e5e5e56c;
}

.designBarList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}


