   .bighead{
    grid-area: header;
    background-color: #f7f7f7;
    padding-top: 2.5%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

.header__inner {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}


  .headerLogo{
    width: 200px;  
  }