.textheader{
    padding-left: 30px;
    margin: auto;
    text-transform: uppercase;
    font-size: 26px;
  }
  
  .bighead{
    display: flex;
    grid-area: header;
   background-color: aliceblue;
  padding: 15px;
  }
  
  .bighead img {
    width: 150px;
  }
  