.Button{
    width: 140px;
    height: 40px;
    background-color: #212529;
    color: #fff;

    font-weight: 500;
    border-radius: 5px;
}

.Button:hover{
    background-color: #30353a;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 2px -1px rgba(219,219,219,0.66);
    -moz-box-shadow: 0px 5px 2px -1px rgba(219,219,219,0.66);
    box-shadow: 0px 5px 2px -1px rgba(219,219,219,0.66);
}
