.postReady {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    width: 825px;
    background-color: #fefefe9c;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.postReady img {
    flex-wrap: wrap;
    width: 56px;
    height: 56px;
    border-radius: 23px;
    margin-right: 20px;
}

.postReadyText{
    margin-right: 15px;
    font-family: 'Manrope';
    font-size: 15px;
    line-height: 1.5;
    color: rgb(30, 29, 29);
}