.container{
  max-width: 1230px;
  margin: 0 auto;
}

.backgroundColar{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background: url(../src/Img/backgtound-color-grid.jpg) center no-repeat;
  background-size: cover;
  position: relative;
 
}

.appwrapper {
  display: grid;
  grid-template-areas:
  "header header "
  "navlist profile";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  background-color: #e5e5e3;

  width: 100%;
  height: 100vh;
  background: url(../src/Img/backgtound-color-grid.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  
}


