.dialogPage {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 20px;
}

.serchModule {
    background: #ffffff97;
    height: 50px;
    min-width: 100px;
    min-height: 2.273em;
    max-height: 2.273em;
    height: 2.273em;
    line-height: 3.1em;
    padding: 15px;
    border-radius: 5px;
}


